* {
  font-family: 'Bookman Old Style, Serif';
  padding: 0;
  margin: 0;
  color: #454545;
  box-sizing: border-box;
}

body {
  background: white;
}

.container {
  width: 70%;
  max-width: 1180px;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

button {
  background-color: #ae8ca3;
  border: 0;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #9a879d;
}

input[type='text'] {
  padding: 10px;
  width: 50%;
  margin: 20px 0;
  border: solid 1px #a2abb5;
}

.list-item {
    background-color: rgba(174, 140, 163, 0.3);
    padding: 5px 10px;
    border: 1px solid  rgba(174, 140, 163, 0.3);
    border-radius: 2px;
    margin: 5px;
    width: 20%;
}

.list-container{
    /* width: 100%; */
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

h1 {
    margin-bottom: 30px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 100%;
  }

  input[type='text'] {
    padding: 10px;
    width: 100%;
    margin: 20px 0;
  }

    button {
        width: 100%;
        margin-top: 15px;
    }

    .list-item {
        background-color: rgba(174, 140, 163, 0.3);
        padding: 5px 10px;
        border: 1px solid  rgba(174, 140, 163, 0.3);
        border-radius: 5px;
        margin: 5px;
        width:100%
    }

    .list-container{
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        margin-top: 20px;
    }
}
